<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css" />
    <script src="javascript/app.js"></script>
  </head>
  <body>
    <h1 class="title_page">Create your List here!</h1>
    <p class="description">
      Choose between Create, Edit, Delete, or Show List!
    </p>
    <form id="input-type">
      <label style="font-size: 20px">Input your text here:</label>
      <input class="input_user" type="text" required /> <br />
      <button class="button-4" ; id="Create List">Create List</button>
      <button class="button-4" ; id="Edit List">Edit List</button>
      <button class="button-4" ; id="Delete List">Delete List</button>
      <button class="button-4" ; id="Show List">Show List</button>
    </form>
    <p class="description" ; style="padding-top: 2%">Message...</p>
  </body>
</html>
